<nav class="ui top small fixed menu custom-nav-height">
  <div class="ui container">
    <div class="item">
      <a href="/" class="item custom-no-grey-bg-hover custom-no-padding">
        <p class="custom-logo"><%= app.name %></p>
      </a>
    </div>
    <% if (user) { %>
    <div class="item custom-search-bar">
      <div class="ui large icon input">
        <input type="text" placeholder="Search resources" />
        <i class="search icon link"></i>
      </div>
    </div>
    <div class="right menu item">
      <!-- Handle create new resource -->
      <%- include('./_new-resource') %>
        <!-- handle profile manegment -->
      </div>
      <img
        class="custom-avatar ui browse item custom-no-close"
        src="<%= user.avatar %>"
        alt="<%= user.name %> avatar"
      />
      <div
        class="ui popup bottom right transition hidden custom-popup custom-no-close"
      >
        <div class="custom-no-close">
          <p class="custom-name custom-no-close"><%= user.name %></p>
          <a href="/profile" class="item custom-profile custom-no-close"
            >Profile Preferences</a
          >
          <form class="logout-btn">
            <button
              class="custom-font-size custom-logout-btn custom-no-close logout-btn"
              type="submit"
            >
              Logout
            </button>
          </form>
        </div>
      </div>
    </div>
    <% } else { %>
    <div class="right menu">
      <a href="/users/login" class="item custom-no-grey-bg-hover">
        <h4 class="custom-light-grey-link custom-font-size">
          Login
        </h4>
      </a>
      <div class="item">
        <a href="/users/signup" class="ui medium pink button custom-font-size">
          Sign up
        </a>
      </div>
    </div>
    <% } %> <% if (user) { %>
  </div>
  <div class="custom-mobile-nav inverted">
    <button class="item">
      <a href="/"><i class="home active icon"></i></a>
    </button>
    <button class="item create-new-resource">
      <i class="add icon"></i>
    </button>
    <button class="item search-mobile">
      <i class="search icon"></i>
    </button>
  </div>
  <% } %>
</nav>
