<!DOCTYPE html>

<html lang="en">
  <head>
    <title><%= app.name %> - Home</title>

    <%- include("partials/_head") %>
  </head>

  <body>
    <%- include("partials/_nav") %>

    <main class="custom-home-page">
      <div class="ui container custom-main-container">
        <section>
          <div class="ui vertical menu custom-right-menu">
            <a href="/profile" class="item">
              <img class="ui avatar image" src="<%= user.avatar %>" />
              <span class="header custom-user"><%= user.name %></span>
            </a>
            <a class="active item"
              ><i class="stream icon"></i>Feed</a
            >
            <a class="item"><i class="glasses icon"></i></i> Browse </a>
            <a class="item"><i class="fire icon"></i></i> Popular </a>
            <a class="item"><i class="user tie icon"></i></i> My Resources </a>
            <a class="item"><i class="star icon"></i> Favorites </a>
            <a class="item"><i class="project diagram icon"></i></i> Categories </a>
          </div>
        </section>
      </div>
    </main>
  </body>
</html>
