<!DOCTYPE html>

<html lang="en">
  <head>
    <title><%= app.name %> - Home</title>
    <%- include("partials/_head") %>
  </head>

  <body>
    <%- include("partials/_nav") %>

    <main style="width: 100%; max-width: 50rem; margin: 10rem auto 7rem;">

      <!-- <h1 style="width: 100%; margin-top: 7em; text-align: center;">
        You're the best <%= user.name %> ever.
      </h1> -->

      <section style="padding: 1rem 2rem; background: #EEEEEE;">
        <pre id="get-like"      >GET     /like { resourceID: 1 }</pre>
        <pre id="post-like"     >POST    /like { }</pre>
        <pre id="delete-like"   >DELETE  /like { resourceID: 1 }</pre>
        <br>
        <pre id="get-rating"    >GET     /rating { resourceID: 1 }</pre>
        <pre id="post-rating"   >POST    /rating { resourceID: 1, rating: 4 }</pre>
        <pre id="delete-rating" >DELETE  /rating { resourceID: 1 }</pre>
        <br>
        <pre id="get-comment"   >GET     /comment { resourceID: 1 }</pre>
        <pre id="post-comment"  >POST    /comment { resourceID: 1, content: "Chickens." }</pre>
        <pre id="put-comment"   >PUT     /comment { resourceID: 1, content: "Kitties." }</pre>
        <pre id="delete-comment">DELETE  /comment { resourceID: 1 }</pre>
        <br>
      </section>

      <style type="text/css">
        main section pre:hover {
          background: #EEFFEE;
          cursor: pointer;
        }
      </style>

      <script type="text/javascript">
        $(document).ready(function() {
          $("main section pre").on("click", function(event) {
            idArray = $(this).attr("id").split("-");
            $.ajax({
              method: idArray[0],
              url:    idArray[1],
            }).then((data, status, xhr) => {
              console.log("success");
              $("main section").append(`<pre>${status}</pre><<pre>${JSON.stringify(data, null, 2)}</pre><pre>${JSON.stringify(xhr, null, 2)}</pre>`);
            }).catch((err) => {
              console.log("error");
              $("main section").append(`<pre>${JSON.stringify(err, null, 2)}</pre>`);
            });
          });
        })
      </script>

    </main>

    <%- include("partials/_footer") %>
  </body>
</html>
