<!DOCTYPE html>

<html lang="en">
  <head>
    <title><%= app.name %> - Home</title>
    <%- include("partials/_head") %>

    <script type="module" src="/scripts/home-page.js"></script>
  </head>

  <body>
    <%- include("partials/_nav") %>

    <main class="custom-home-page">
      <div class="custom-home-page-background"></div>
      <div class="ui container">
        <section>
          <div class="ui vertical menu custom-right-menu">
            <a href="/profile" class="item custom-menu-user-info">
              <div class="header custom-user">
                <img class="ui avatar image" src="<%= user.avatar %>" />
                <span><%= user.name %></span>
              </div>
            </a>
            <a class="active item resource-links feed-link"
              ><i class="stream icon"></i>Feed</a
            >
            <a class="item resource-links browse-link"
              ><i class="glasses icon"></i> Browse
            </a>
            <a class="item resource-links popular-link"
              ><i class="fire icon"></i> Popular
            </a>
            <a class="item resource-links my-resources-link"
              ><i class="user tie icon"></i> My Resources
            </a>
            <a class="item resource-links favorites-link"
              ><i class="star icon"></i> Favorites
            </a>
          </div>
        </section>
        <section class="custom-main-container" id="home-page"></section>
      </div>
    </main>
  </body>
</html>
