<!DOCTYPE html>

<html lang="en">

  <head>
    <title><%= app.name %></title>

    <%- include("partials/_head") %>

    <!-- App scripts -->
    <script type="module" src="/scripts/landing-page.js"></script>
  </head>

  <body>

    <%- include("partials/_nav") %>

    <main class="custom-landing-page-main">
      <div class="custom-hero"></div>
      <section class="ui container">
        <div class="custom-hero-content">
          <p class="custom-bold custom-responsive-text-size">
            <%= app.name %>
          </p>
          <p class="custom-responsive-text-size-smaller custom-bold custom-text-color_1">
            <%= app.description %>
          </p>
          <a
            href="/users/signup"
            class="ui pink massive button custom-button-width"
          >
            Get Started
          </a>
        </div>
      </section>
      <section class="ui container">
        <div class="custom-popular-resources">
          <h2 class="custom-text-center">Most Popular Resources</h2>
          <div class="ui special four doubling cards custom-resources"
               id="popular-resources"></div>
        </div>
      </section>
    </main>

    <%- include("partials/_footer") %>

  </body>

</html>
