<!DOCTYPE html>

<html lang="en">
  <head>
    <title><%= app.name %> - Profile</title>
    <%- include("partials/_head") %>
    <link rel="stylesheet" type="text/css" href="/styles/profile-page.css" />
    <script type="text/javascript" src="/scripts/profile-page.js"></script>
  </head>

  <body>
    <%- include("partials/_nav") %>
    <main>
      <div class="ui container profile-container">
        <form class="ui container large form">
          <div class="profile-section ui one column grid">
            <div class="ui column raised huge segment">
              <span class="ui blue ribbon huge label">Profile</span>
              <div class="custom-avatar-container">
                <a
                  href="https://duckduckgo.com/?q=FUNNY+CAT+PICTURES+ON+THE+INTERWEBS!!!!!!!!!!!!!&t=ffab&ia=images&iax=images"
                  target="_blank"
                  ><div id="avatar" src="<%= user.avatar %>"></div
                ></a>
              </div>
              <div class="field">
                <label>Avatar URL</label>
                <div class="ui left icon input">
                  <i class="image icon"></i>
                  <input
                    type="text"
                    name="avatar"
                    placeholder="Enter a URL to a work-safe image"
                  />
                </div>
              </div>
              <div class="field">
                <label>Display name</label>
                <div class="ui left icon input">
                  <i class="address card icon"></i>
                  <input
                    type="text"
                    name="name"
                    placeholder="Display name"
                    value="<%= user.name %>"
                  />
                </div>
              </div>
              <button class="ui massive pink button">Save</button>
            </div>
          </div>
          <br />
          <br />
          <br />
          <div class="account-section ui one column grid">
            <div class="ui column raised huge segment">
              <span class="ui blue ribbon huge label">Account</span>
              <br />
              <br />
              <div class="ui purple small header text">
                To update your login info, enter your current password
              </div>
              <div class="field custom-password">
                <label>Password</label>
                <div class="ui right icon input">
                  <div class="ui left icon input">
                    <i class="user lock icon"></i>
                    <input
                      type="password"
                      name="password"
                      placeholder="Password"
                    />
                  </div>
                  <i class="eye icon link"></i>
                </div>
              </div>
              <div class="account-info-container">
                <div class="field">
                  <label>Email address</label>
                  <div class="ui left icon input">
                    <i class="paper plane icon"></i>
                    <input
                      type="text"
                      name="email"
                      placeholder="Email address"
                      value="<%= user.email %>"
                    />
                  </div>
                </div>
                <div class="ui purple small header text">
                  To change your password, enter a new one here.<br />
                  Leave it blank to keep your current password.
                </div>
                <div class="field custom-new-password">
                  <label>New password</label>
                  <div class="ui right icon input">
                    <div class="ui left icon input">
                      <i class="lock icon"></i>
                      <input
                        class="new-password"
                        type="password"
                        name="newPassword"
                        placeholder="Password"
                      />
                    </div>
                    <i class="eye icon link"></i>
                  </div>
                </div>
                <div class="field custom-verify-password">
                  <label>Verify password</label>
                  <div class="ui right icon input">
                    <div class="ui left icon input">
                      <i class="lock icon"></i>
                      <input
                        class="new-password"
                        type="password"
                        name="verifyPassword"
                        placeholder="Verify your password"
                      />
                    </div>
                    <i class="eye icon link"></i>
                  </div>
                </div>
                <div class="ui error message">
                  <span class="ui text big custom-err-message"></span><br />
                  <br />
                  <span class="ui text custom-err-description"></span>
                </div>
                <div class="custom-button-container">
                  <button
                    class="ui massive pink button huge custom-button-padding"
                  >
                    Save
                  </button>
                  <div class="">
                    <button class="ui negative button massive">
                      Delete Account
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
